@charset "utf-8";

/* container */
.container {
  width: 1200px;
  margin: 0 auto;
}

/* header */
header .logo {
  position: absolute;
  top: 5px;
  left: 10px;
}

/* menu */
.header .menu {
  text-align: center;
  font-size: 0;
  background: #fff;
}

.menu li {
  display: inline-block;
  font-size: 18px;
  position: relative;
  width: 200px;
  padding: 20px 0;
}

.menu li a:hover {
  color: #174cb8;
}

.header .menu li .submenu {
  display: none;
  position: absolute;
  left: 0;
  top: 60px;
  z-index: 99;
  background: #fff;
}

.header .menu li .submenu li {
  display: block;
  font-size: 16px;
  border: 1px solid #eee;
  border-top: 0;
}

.header .menu li .submenu li:hover {
  background: #174cb8;
  transition: all .2s;
}

.header .menu li .submenu li:hover a {
  color: #fff;
  transition: all .2s;
}

.header .menu li:hover .submenu {
  display: block;
}

/* main */
.header .main {
  position: relative;
}

.header .main .slide .slick-prev, .header .main .slide .slick-next {
  position: absolute;
  top: 280px;
  background: url(../img/main_btn.png) no-repeat;
  width: 35px;
  height: 64px;
  text-indent: -9999px;
  cursor: pointer;
  z-index: 9;
}

.header .main .slide .slick-prev {
  left: 30px;
}

.header .main .slide .slick-next {
  right: 30px;
  background-position: -36px 0;
}

.header .main .main_tit {
  color: #fff;
  position: absolute;
  left: 150px;
  top: 220px;
  z-index: 9;
}

.header .main .main_tit h1 {
  font-size: 60px;
}

.header .main .main_tit h2 {
  font-size: 40px;
}

.header .main .btn_menu {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  font-size: 0;
}

.header .main .btn_menu div {
  display: inline-block;
  font-size: 14px;
  background: #1c5ad7;
  width: 160px;
  padding: 15px;
  text-align: center;
}

.header .main .btn_menu div:hover {
  background: #174cb8;
  transition: all .4s;
}

.header .main .btn_menu div a {
  color: #fff;
}

/* contents */
/* notice */
.notice {
  text-align: center;
  font-size: 0;
  margin: 20px 0;
}

.notice article {
  display: inline-block;
  width: 45%;
  padding: 25px;
}

.notice article:first-of-type {
  border-right: 1px solid #ddd;
}

.notice article h1 {
  text-align: left;
  font-size: 40px;
  color: #1c5ad7;
  padding: 10px 0;
}

.notice article p {
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-top: 1px solid #ddd;
  padding: 25px 0;
  text-align: left;
}
.notice article p a:hover {
  color: #1c5ad7;
  border-bottom: 1px solid #1c5ad7;
}

.notice article p:first-of-type {
  border-top: 5px solid #1c5ad7;
}

/* banner */
.banner {
  font-size: 0;
  background-image: url("../img/banner.jpg");
  min-height: 150px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* major */
#major {
  background: url(../img/major_bg.png);
}

.major {
  text-align: center;
  font-size: 0;
  padding: 40px 0;
}

.major .m_con {
  width: 33.33%;
  height: 160px;
  display: inline-block;
  text-align: center;
}

.major .m_con p {
  font-size: 15px;
  padding: 40px 0;
}

.major .m_con p strong {
  font-size: 18px;
}

/* leaflet */
.leaflet {
  position: relative;
}

.leaflet .slick-prev, .leaflet .slick-next {
  position: absolute;
  top: 250px;
  background: url(../img/leaflet_btn.png) no-repeat;
  width: 45px;
  height: 70px;
  text-indent: -9999px;
  cursor: pointer;
  z-index: 9;
}

.leaflet .slick-prev {
  left: -50px;
}

.leaflet .slick-next {
  right: -50px;
  background-position: -45px 0;
}

.leaflet div {
  padding: 20px;
}

.leaflet div img {
  width: 300px;
}

/* footer */
footer {
  background: #1d3566;
}

.footer {
  color: #fff;
  text-align: center;
  font-size: 0;
}

.footer ul li {
  display: inline-block;
  padding: 15px 20px;
  font-size: 13px;
}

.footer p {
  font-size: 13px;
  margin: 0;
}
