<<<<<<< HEAD @charset "utf-8";

.contents .page_content .tab_content {
  margin-top: 50px;
}

.contents .page_content .tab_content input[type="radio"] {
  display: none;
}

.contents .page_content .tab_content input[type="radio"]+label:first-of-type {
  border-left: 1px solid #eee;
}

.contents .page_content .tab_content input[type="radio"]+label {
  font-size: 17px;
  display: inline-block;
  padding: 20px;
  width: 230px;
  cursor: pointer;
  border-bottom: 3px solid #174cb8;
  border-top: 1px solid #eee;
  border-right: 1px solid #eee;
}

.contents .page_content .tab_content input[type="radio"]:checked+label {
  background: #174cb8;
  color: #fff;
  font-weight: bold;
}

.tab_content .conbox {
  padding: 20px 10px;
  margin: 0 auto;
  display: none;
  font-size: 15px;
  width: 800px;
}

.tab_content .conbox p {
  text-align: left;
  font-weight: bold;
  vertical-align: middle;
  border-bottom: 1px solid #eee;
  margin-top: 0;
}

.tab_content .conbox p img {
  vertical-align: middle;
  margin: 10px 0;
  margin-right: 30px;
}

input[id="tab01"]:checked~.con1 {
  display: block;
}

input[id="tab02"]:checked~.con2 {
  display: block;
}

input[id="tab03"]:checked~.con3 {
  display: block;
}

input[id="tab04"]:checked~.con4 {
  display: block;
}

input[id="tab05"]:checked~.con5 {
  display: block;
}

=======@charset "utf-8";

.contents .page_content .tab_content {
  margin-top: 50px;
}

.contents .page_content .tab_content input[type="radio"] {
  display: none;
}

.contents .page_content .tab_content input[type="radio"]+label:first-of-type {
  border-left: 1px solid #eee;
}

.contents .page_content .tab_content input[type="radio"]+label {
  font-size: 17px;
  display: inline-block;
  padding: 20px;
  width: 230px;
  cursor: pointer;
  border-bottom: 3px solid #174cb8;
  border-top: 1px solid #eee;
  border-right: 1px solid #eee;
}

.contents .page_content .tab_content input[type="radio"]:checked+label {
  background: #174cb8;
  color: #fff;
  font-weight: bold;
}

.tab_content .conbox {
  padding: 20px 10px;
  margin: 0 auto;
  display: none;
  font-size: 15px;
  width: 800px;
}

.tab_content .conbox p {
  text-align: left;
  font-weight: bold;
  vertical-align: middle;
  border-bottom: 1px solid #eee;
  margin-top: 0;
}

.tab_content .conbox p img {
  vertical-align: middle;
  margin: 10px 0;
  margin-right: 30px;
}

input[id="tab01"]:checked~.con1 {
  display: block;
}

input[id="tab02"]:checked~.con2 {
  display: block;
}

input[id="tab03"]:checked~.con3 {
  display: block;
}

input[id="tab04"]:checked~.con4 {
  display: block;
}

input[id="tab05"]:checked~.con5 {
  display: block;
}

>>>>>>>fdf41fd910e531cde746a0df3596eddc55f59702
